.byline {
    display: block;
    text-align: center
    }
.calibre {
    display: block;
    font-size: 1em;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre1 {
    display: block
    }
.calibre2 {
    font-weight: bold
    }
.calibre3 {
    display: block;
    font-weight: bold;
    margin: 0
    }
.calibre4 {
    display: block;
    margin: 0 0 1em 1em
    }
.calibre5 {
    display: block;
    margin: 0 0 0 1em
    }
.calibre6 {
    display: block;
    font-size: 1.41667em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    margin: 0.67em 0
    }
.calibre7 {
    display: block;
    margin: 1em 0
    }
.calibre8 {
    display: block;
    list-style-type: disc;
    margin-bottom: 1em;
    margin-right: 0;
    margin-top: 1em
    }
.calibre9 {
    display: list-item
    }
.calibre10 {
    display: block
    }
.calibre11 {
    font-style: italic
    }
.calibre12 {
    display: block;
    text-align: right;
    margin: 1em 0
    }
.calibre13 {
    display: block;
    margin: 1em
    }
.endnote-link {
    display: block;
    font-size: 0.75em
    }
.heading {
    display: block;
    font-size: 1.41667em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    margin: 0.83em 0
    }
.hd{
	display: block;
    font-size: 1.8em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    margin: 1em 0
}
.message {
    display: block;
    text-align: center;
    margin: 1em 0
    }
.tags {
    display: block;
    padding: 0;
    border: currentColor none medium;
    margin: 1em 0
    }
.toc-heading {
    display: none;
    font-size: 1.41667em;
    font-weight: bold;
    line-height: 1.2;
    margin: 0.83em 0
    }
.userstuff {
    display: block;
    font-family: serif;
    padding: 0;
    margin: 1em
    }
.userstuff1 {
    display: block;
    font-family: serif;
    padding: 0
    }
.userstuff2 {
    display: block;
    font-family: serif;
    padding: 0;
    margin: 1em 0
    }
